<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>test page</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id='checkboxes'>
            <input type="checkbox" id='apple' value='apple' v-model='checkedNames'>
            <label for="apple">Apple</label>
            <input type="checkbox" id='pear' value='pear' v-model='checkedNames'>
            <label for="apple">Pear</label>
            <input type="checkbox" id='melon' value='melon' v-model='checkedNames'>
            <label for="apple">Melon</label>
            <hr>
            <span>your choice is: {{ checkedNames }}</span>
        </div>
        <script type="text/javascript">
            var app1 = new Vue({
                el: '#checkboxes',
                data: {
                    checkedNames: []
                }
            })
        </script>
<hr>
        <div class="" id = 'sel-1'>
            <select class="" name="" v-model='selected'>
                <option disabled value=''>请选择</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
            <hr>
            <span>your selected is : {{ selected }}</span>
        </div>
        <script type="text/javascript">
            var sel1 = new Vue({
                el: '#sel-1',
                data: {
                    selected: ''
                }
            })
        </script>
        <hr>
        <div class="" id = 'sel-2'>
            <select class="" name="" multiple v-model='selected'>
                <option disabled value=''>请选择</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
            <hr>
            <span>your selected is : {{ selected }}</span>
        </div>
        <script type="text/javascript">
            var sel1 = new Vue({
                el: '#sel-2',
                data: {
                    selected: ''
                }
            })
        </script>
        <hr>
        <div class="com1" id = 'com1'>
            <div class="">
                {{ test }}
            </div>
            <Mycomponent></Mycomponent>
        </div>
        <script type="text/javascript">
            //定义了一个全局组件, 注意, 组件第一个字母必须大写
            Vue.component('Mycomponent', {
                data: function() {
                    var d = {
                        count: 0
                    }
                    return d
                },
                template: `
                <div>
                    <button v-on:click='plus'>You have click {{ count }} times. </button>
                </div>
                `,
                methods: {
                    plus: function() {
                        this.count++
                    }
                }
            })

            var com1 = new Vue({
                el: '#com1',
                data: {
                    test: 'test'
                }
            })
        </script>
        <hr>

        <div class="" id='com2'>
            <div class="" :style="{fontSize: postFontSize + 'em'}">
                <blog-test v-for='d in props'
                v-bind:k='d'
                v-on:larger="function() {postFontSize += 0.1}"
                ></blog-test>
                <!-- bind后面的k指的是组件的props -->
                <br>

            </div>
            <div class="">
                {{ test }}
                {{ postFontSize }}
            </div>
        </div>
        <script type="text/javascript">
            Vue.component('blog-test', {
                data: function() {

                },
                props: ['k'],
                template: `
                <div>
                    id: {{ k.id }} and content: {{ k.content }}
                    <br>
                    <button type="button" name="button"
                    v-on:click="$emit('larger')"
                    >larger</button>
                </div>
                `,
            })

            var com2 = new Vue({
                el: '#com2',
                data: {
                    test: 'test',
                    postFontSize: 1,
                    props: [
                        {
                            id:1,
                            content: 'firstBlog',
                        },
                        {
                            id:2,
                            content: 'secondBlog',
                        },
                        {
                            id:3,
                            content: 'thridBlog',
                        },
                    ],
                },
            })
        </script>
        <hr>
        <div class="" id = 'com3'>
            {{test}}
            {{ color }}
            <div class="" v-bind:color='color'>
                <Ccolor v-on:changeColor='color += 1'></Ccolor>
            </div>
        </div>
        <script type="text/javascript">
            Vue.component('Ccolor', {
                data: function() {
                },
                template: `
                <div>
                    <div>
                        this color is {{ color }}
                    </div>
                    <button  v-on:click="$emit('changeColor')">change</button>
                </div>
                `,
            })

            var com3 = new Vue({
                el: '#com3',
                data: {
                    test: 'test',
                    color: 2
                },
            })
        </script>

        <hr>

    </body>
</html>
