<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>列表渲染</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id='app1'>
            <div v-for="item in arr">
                {{item.name}}-->{{item.value}}
            </div>
        </div>
        <script type="text/javascript">
            var app1 = new Vue({
                el: '#app1',
                data: {
                    object: {
                        firstName: 'John',
                        lastName: 'Tatter',
                        age: '30',
                    },
                    arr: [
                        {
                            name: 'testA',
                            value: 'testA-value',
                        },
                        {
                            name: 'testb',
                            value: 'testb-value',
                        },
                        {
                            name: 'testc',
                            value: 'testc-value',
                        }
                    ]
                }
            })
        </script>
        <hr>
        <div class="" id = 'app2'>
            <span v-for='n in 10'>{{n + 'number' + '\n'}}</span>
        </div>
        <script type="text/javascript">
            var app2 = new Vue({
                el: '#app2',
                data: {
                    n: [1,2,3,4,5,6,7,8,9,10]
                }
            })
        </script>
        <hr>
    </body>
</html>
